Flask==1.1.4
Werkzeug==1.0.1
gunicorn
sentry-sdk
GitPython
git+https://github.com/hakaiinstitute/metadata-xml.git
git+https://github.com/hakaiinstitute/hakai-metadata-entry-form.git#egg=firebase_to_xml&subdirectory=firebase_to_xml